{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container ">
            <div class="well col-xs-8 col-xs-offset-2">
                <form class="form-horizontal" enctype="multipart/form-data"  action="{{ path('edit_requestHall',{id: requestHall.id}) }}" method="POST">
                    <fieldset>
                        <legend>Редактиране на заявка</legend>

                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="hallId">Номер на зала:</label>
                            <div class="col-xs-4">
                                <select class="form-control" id="hallId" name="hallId">
                                    <option value="{{ requestHall.hallId }}">{{ requestHall.hall.number }}</option>
                                    {%  set currentHallId = requestHall.hallId %}
                                    {% for hall in halls %}
                                        {% if currentHallId != hall.id %}
                                        <option value="{{ hall.id }}">{{ hall.number }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="date">Дата:</label>
                            <div class="col-xs-4">
                                <input type="date" class="form-control" id="date" name="date" min="{{ requestHall.date|date("Y-m-d") }}" value="{{ requestHall.date|date("Y-m-d") }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="timeStart">Начален час :</label>
                            <div class="col-xs-4">
                                <input type="time" class="form-control" id="timeStart" placeholder="" name="timeStart" value="{{ requestHall.timeStart|date("H:i") }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="timeEnd">Краен час :</label>
                            <div class="col-xs-4">
                                <input type="time" class="form-control" id="timeStart" placeholder="" name="timeEnd" value="{{ requestHall.timeEnd|date("H:i") }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="description">Допълнителна информация:</label>
                            <div class="col-xs-7">
                                <textarea  class="form-control" rows="6" id="description" name="description" >{{ requestHall.description }}</textarea>
                            </div>
                        </div>

                        {{ form_row(form._token) }}

                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-5">
                                <a class="btn btn-default" href="{{ path('all_requestHall') }}"><i class="fa fa-ban"></i> Отказване</a>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Редактиране</button>
                            </div>
                        </div>



                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
