{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-sm-offset-2">
                    <h1 class="page-header">Заявка за зала {{ hall.number }}</h1>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-12 col-sm-7 col-sm-offset-2 text-right">
                    {% if (is_granted('ROLE_ADMIN') or (app.getUser().getId() == requestHall.requesterId)) and ("now"|date("Y/m/d") < requestHall.date|date("Y/m/d")) %}
                        <a class="btn btn-warning" href="{{ path('edit_requestHall',{'id': requestHall.id}) }}"><i class="fa fa-edit"></i> Редактиране</a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ path('all_requestHall') }}"><i class="fa fa-arrow-circle-o-left"></i> Назад</a>
                </div>
            </div>
            <div class="row col-xs-12 col-sm-7 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Дата: <strong>{{ requestHall.date|date("Y/m/d") }}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Начален час: <strong>{{ requestHall.timeStart|date('H:i') }}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Краен час: <strong>{{  requestHall.timeEnd|date('H:i') }}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Описание: <strong>{{  requestHall.description }}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Заявил: <strong>{{ requestHall.requester.fullName }}</strong></p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

