{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h1 class="page-header">{{ user.getFullName() }}</h1>
                </div>
            </div>
            <div class="well col-xs-8 col-xs-offset-2">
                {%  for msg in app.session.flashBag.get('message') %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                {% endfor %}
                 <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('edit_user',{id: user.id}) }}" method="POST" novalidate>
                        <fieldset>
                            <legend>Редактиране на профил</legend>
                                  <div class="form-group">
                                      <label class="col-xs-5 control-label" for="user_fullName">Име</label>
                                      <div class="col-xs-4">
                                        <input type="text" class="form-control" id="user_fullName" name="user[fullName]" value="{{ user.getFullName() }}" />
                                      </div>
                                  </div>
                                  <div class="form-group">
                                       <label class="col-xs-5 control-label" for="user_email">Ел. Поща</label>
                                       <div class="col-xs-4">
                                        <input type="text" class="form-control" id="user_email" value="{{ user.getEmail() }}" name="user[email]" disabled />
                                       </div>
                                   </div>
                                  <div class="form-group">
                                        <label class="col-xs-5 control-label" for="user_password">Парола</label>
                                        <div class="col-xs-4">
                                         <input id="user_password" type="password" class="form-control" name="user[password]" />
                                        </div>
                                  </div>
                                  {% if app.getUser.isAdmin() %}
                                  <div class="form-group">
                                        <label class="col-xs-5 control-label" for="user_roles">Тип потребител:</label>
                                        <div class="col-xs-4">
                                            <select class="form-control" id="user_roles" name="user[roles]">
                                                <option value="{{ userRole.id }}">{{ userRole.bgName }}</option>
                                                {%  set currentUserRoleId = userRole.id %}
                                                {%  for role in roles %}
                                                    {% if currentUserRoleId != role.id %}
                                                    <option value="{{ role.id }}">{{ role.getBgName() }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                  </div>
                                  <div class="form-group">
                                        <label class="col-xs-5 control-label" for="user_status">Статус:</label>
                                        <div class="col-xs-4">
                                            <input type="radio" class="radio-inline" id="user_status" value="1" name="user[status]" {{ user.getStatus()==1 ? 'checked':'' }}>Активен
                                            <input type="radio" class="radio-inline" id="user_status" value="0" name="user[status]" {{ user.getStatus()==1 ? '':'checked' }}>Неактивен
                                        </div>
                                  </div>
                                   {% endif %}
                            {{ form_row(form._token) }}

                            <div class="form-group">
                                        <div class="col-sm-5 col-sm-offset-5">
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-default" href="{{ path('all_user') }}"><i class="fa fa-ban"></i> Отказване</a>
                                            {% else %}
                                                <a class="btn btn-default" href="{{ path('view_user',{'id' :user.id}) }}"><i class="fa fa-ban"></i> Отказване</a>
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Редактиране</button>
                                        </div>
                                   </div>
                        </fieldset>
                    </form>
             </div>
        </div>
    </section>
{% endblock %}



