{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">График на зала {{ hall.number }}</h1>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12 text-right">
                    {% if app.user and (app.getUser().isAdmin() or app.getUser().isLector()) %}
                    <a class="btn btn-default" href="{{ path('create_requestHall',{'id' :hall.id}) }}"><i class="fa fa-paper-plane"></i> Заявка</a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ path('all_hall') }}"><i class="fa fa-arrow-circle-left custom"></i> Обратно</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Начален час</th>
                                    <th>Краен час</th>
                                    <th width="30%">Описание</th>
                                    <th>Заявил</th>
                                    {% for requestsHall in requestsHalls %}
                                    {% if (requestsHall.requesterId == app.getUser().getId() or app.getUser().isAdmin()) %}
                                    <th>Действия</th>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for requestsHall in requestsHalls %}
                                    <tr>
                                        <td>{{ requestsHall.date|date("Y/m/d") }}</td>
                                        <td>{{ requestsHall.timeStart|date('H:i') }}</td>
                                        <td>{{ requestsHall.timeEnd|date('H:i') }}</td>
                                        <td>{{ requestsHall.description }}</td>
                                        <td>{{ requestsHall.requester.fullName}}</td>
                                        {% if ((requestsHall.requesterId == app.getUser().getId() or app.getUser().isAdmin()) and "now"|date("Y/m/d") < requestsHall.date|date("Y/m/d") ) %}
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-warning" href="{{ path('edit_requestHall', {'id' :requestsHall.id}) }}"><i class="fa fa-edit" title="Редактиране"></i></a>
                                                <a class="btn btn-danger" href="{{ path('delete_requestHall', {'id' :requestsHall.id}) }}"><i class="fa fa-trash" title="Изтриване"></i></a>
                                            </div>
                                        </td>
                                        {%  endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}




